.tab-list {
    padding-left: 0;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.tab-list label {
    padding-left: 100px;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.tab-list-active {
    background-color: white;
    border: solid black;
    border-width: 0 0 4px 0;
}